

<div class="box-container">
      @for (box of store.boxes(); track $index) {
        <div class="box" 
          (click)="selectBox($index)"
          [class.selected]="$index == store.selectedBoxIndex()"
          [class.has-option]="box.selectedOption">
            {{ (box.selectedOption) || 'Select' }}
        </div>
      }
    <button class="clear" (click)="resetSelections()">
      Clear All Selections
    </button>
</div>

@if (store.selectedBoxIndex() !== null) {
  <app-option-selector>
  </app-option-selector>
} 